<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="ResMapper">
	<resultMap id="ResSelectMap" type="resCatering">
		<result property="resNo" 			column="RES_NO" 			jdbcType="INT"/>
		<result property="addCatering.servNo"	column="SERV_NO" 		jdbcType="INT" />
		<result property="resUser.userId" 	column="RES_USER_ID" 		jdbcType="VARCHAR" />
		<result property="resDate" 			column="RES_DATE" 	jdbcType="DATE" />
		<result property="resTime" 			column="RES_TIME" 	jdbcType="VARCHAR" />
		<result property="resAdd" 			column="RES_ADD" 			jdbcType="VARCHAR"/>
		<result property="resRequest"	column="RES_REQUEST" 		jdbcType="VARCHAR" />
		<result property="resPhone" 	column="RES_PHONE" 		jdbcType="VARCHAR" />
		<result property="resQuotation" 			column="RES_QUOTATION" 	jdbcType="INT" />
		<result property="resStatusCode" 			column="RES_STATUS_CODE" 	jdbcType="CHAR" />
		<result property="resMemo" 			column="RES_MEMO" 	jdbcType="VARCHAR" />
		<result property="resRealQuotation" 			column="RES_REAL_QUOTATION" 	jdbcType="INT" />
		<result property="resCancelDate" 			column="RES_CANCEL_DATE" 	jdbcType="TIMESTAMP" />
		<result property="resMenuNo" 			column="RES_MENU_NO" 	jdbcType="INT" />
		<result property="resMenuQty" 			column="RES_MENU_QTY" 	jdbcType="INT" />
	</resultMap>

	<resultMap id="ServSelectMap" type="addCatering">
		<result property="servNo" 			column="SERV_NO" 			jdbcType="INT"/>
		<result property="servTruck.truckId"	column="SERV_TRUCK_ID" 		jdbcType="VARCHAR" />
		<result property="servDate" 	column="SERV_DATE" 		jdbcType="DATE" />
		<result property="servTime" 			column="SERV_TIME" 	jdbcType="VARCHAR" />
		<result property="servLocation" 			column="SERV_LOCATION" 	jdbcType="VARCHAR" />
		<result property="servMenuName" 			column="SERV_MENU_NAME" 			jdbcType="VARCHAR"/>
		<result property="servMenuPrice"	column="SERV_MENU_PRICE" 		jdbcType="INT" />
		<result property="servMenuImg" 	column="SERV_MENU_IMG" 		jdbcType="VARCHAR" />
		<result property="servMenuMinQty" 			column="SERV_MENU_MIN_QTY" 	jdbcType="INT" />
		<result property="servMenuMaxQty" 			column="SERV_MENU_MAX_QTY" 	jdbcType="INT" />
	</resultMap>


	<select id="getUserResList"	parameterType="map"	resultMap="ResSelectMap">
		SELECT
			RES_NO,
			SERV_NO,
			RES_USER_ID,
			RES_DATE,
			RES_TIME,
			RES_ADD,
			RES_PHONE,
			RES_QUOTATION,
			RES_REAL_QUOTATION,
			RES_STATUS_CODE
		FROM res_catering
		WHERE RES_USER_ID = #{userId}
	</select>

	<select id="getTruckResList"	parameterType="map"	resultMap="ServSelectMap">
		SELECT
			SERV_NO,
			SERV_TRUCK_ID,
			SERV_DATE,
			SERV_TIME,
			SERV_LOCATION,
			SERV_MENU_NAME,
			SERV_MENU_PRICE,
			SERV_MENU_IMG,
			SERV_MENU_MIN_QTY,
			SERV_MENU_MAX_QTY
		FROM add_catering
		WHERE SERV_TRUCK_ID = #{truckId}
	</select>

	<insert id="addRes" parameterType="ResSelectMap">
		INSERT INTO add_catering (SERV_TRUCK_ID, SERV_DATE, SERV_TIME, SERV_LOCATION, SERV_MENU_NAME,
								  SERV_MENU_PRICE, SERV_MENU_IMG, SERV_MENU_MIN_QTY, SERV_MENU_MAX_QTY)
		VALUES(
				  #{servTruck.truckId},
				  #{servDate},
				  #{servTime:VARCHAR},
				  #{servLocation:VARCHAR},
				  #{servMenuName:VARCHAR},
				  #{servMenuPrice:INT},
				  #{servMenuImg:VARCHAR},
				  #{servMenuMinQty:INT},
				  #{servMenuMaxQty:INT}
			  )
	</insert>


	<insert id="addCate" parameterType="ResSelectMap">
		INSERT INTO res_catering (SERV_NO, RES_USER_ID, RES_DATE, RES_TIME, RES_ADD, RES_REQUEST, RES_PHONE,
								  RES_QUOTATION, RES_STATUS_CODE,RES_MENU_NO, RES_MENU_QTY)
		VALUES(
				  #{addCatering.servNo},
				  #{resUser.userId},
				  #{resDate},
				  #{resTime:VARCHAR},
				  #{resAdd:VARCHAR},
				  #{resQequest:VARCHAR},
				  #{resPhone:VARCHAR},
				  #{resQuotation:INT},
				  #{resStatusCode:CHAR},
				  #{resMenuNo:INT},
				  #{resMenuQty:INT}
			  )
	</insert>


	<select 	id="getUserRes"	parameterType="int"	resultMap="ResSelectMap">
		SELECT
			RES_NO,
			SERV_NO,
			RES_USER_ID,
			RES_DATE,
			RES_TIME,
			RES_ADD,
			RES_PHONE,
			RES_QUOTATION,
			RES_REAL_QUOTATION,
			RES_STATUS_CODE
		FROM res_catering
		WHERE RES_NO = #{resNo}
	</select>

	<select 	id="getTruckServ"	parameterType="int"	resultMap="ServSelectMap">
		SELECT
			SERV_NO,
			SERV_TRUCK_ID,
			SERV_DATE,
			SERV_TIME,
			SERV_LOCATION,
			SERV_MENU_NAME,
			SERV_MENU_PRICE,
			SERV_MENU_IMG,
			SERV_MENU_MIN_QTY,
			SERV_MENU_MAX_QTY
		FROM add_catering
		WHERE SERV_NO = #{servNo}
	</select>



	<update id="updateUserRes1" parameterType="map">
		UPDATE res_catering
		<set>
			RES_STATUS_CODE= #{resStatus},
			RES_MEMO = #{resMemo}
		</set>
		WHERE RES_NO = #{resNo}
	</update>

	<update id="updateUserRes2" parameterType="resCatering">
		UPDATE res_catering
		<set>
			RES_ADD = #{resAdd},
			RES_PHONE=#{resPhone},
			RES_REQUEST=#{resRequest},
			RES_MENU_QTY=#{resMenuQty}
		</set>
		WHERE RES_NO = #{resNo}
	</update>


</mapper>